.flex-left{
    display: flex;
    justify-content: flex-start;

}

.flex-right{
    display: inline-flex;
    justify-content: flex-end;
}


.flex-center{
    display: inline-flex;
    justify-content: center;

}

.flex-col{
    display: inline-flex;
    flex-direction: column;
    
}

.felx{
    display: flex;
}

.flex-bet{
    display: inline-flex;
    justify-content: space-between;
}


.float-left{
    float: left;
}

.float-right{
    float:right;
}