.promotion-header-list-margin{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}

.promotion-header-fontsize{
    padding-top: 13px;
    font-size: 25px;
    border: 1;
}

.promotion-header-img-size{
   width: 98px;
   height: 73px; 
}
