#promotion-banner-divbox{
    width: 1080px;
    height: 298;
}

#promotion-TopBanner-ico{
    width: 1080px;
    position: absolute;
}

#Top-ico-margin{
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
}

#promotion-header-list{
    overflow: scroll;
    text-align: center;
    width: 1080px;
    height: 150px;
}


#promotion-select-bar{
    width: 1080px;
    height: 4px;
    background-color: green;
}

#promotion-select-divbox{
    width: 1080px;
    height: 5px;
}

#headerbar-width{
    margin-top: 16px;
    
}